@font-face {
    font-family: SourceCodePro-Regular;
    src: url(/assets/fonts/SourceCodePro-Regular.otf.woff);
}

@font-face {
    font-family: SourceCodePro-Semibold;
    src: url(/assets/fonts/SourceCodePro-Semibold.otf.woff);
}

.clickable {
    font-family: SourceCodePro-Semibold;
    cursor: pointer;
    user-select: none;
}

.clickable:hover {
    border-bottom: 1px solid var(--active-color);
}

::selection {
    color: var(--primary-bg-color);
    background: var(--active-color);
}

body {
    --primary-bg-color: black;
    --secondary-bg-color: white;
    --primary-text-color: white;
    --secondary-text-color: black;
    --active-color: yellow;
    --inactive-color: grey;
    --alert-color: red;
    font-family: SourceCodePro-Regular;
    margin: 0;
    padding: 0;
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.app {
    position: relative;
    width: 100vw;
    max-width: 480px;
    margin: 0 auto;
    overflow-x: hidden;
}

.app-header,
.app-header-right {
    display: flex;
    justify-content: space-between;
    user-select: none;
    font-family: SourceCodePro-Semibold;
}

.app-header {
    margin-top: 16px;
}

.app-name {
    font-size: 20px;
    margin: 8px 0 0 16px;
}

.enablement-toggle,
.restart-toggle {
    width: fit-content;
    margin: 4px;
    padding: 8px 16px;
    border-bottom: 1px dotted var(--inactive-color);
    font-size: 12px;
}

.restart-toggle {
    padding: 0 4px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    overflow-x: hidden;
    height: calc(100vh - 128px);
    margin: 16px;
    padding: 0 16px 16px 16px;
    border: 1px dotted var(--inactive-color);
    word-wrap: break-word;
    font-size: 12px;
    overflow-y: scroll;
    line-height: 16px;
    overscroll-behavior: none;
    scrollbar-width: none;
}

.section {
    margin-bottom: 16px;
}

.section-header {
    position: sticky;
    top: 0;
    z-index: 1;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 8px;
    background: var(--primary-bg-color);
    border-bottom: 1px dotted var(--inactive-color);
    font-size: 14px;
    font-family: SourceCodePro-Semibold;
}

.section-content {
    margin-top: 12px;
}

.config-line {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.line-key,
.line-value {
    border: 1px solid transparent;
    padding: 4px;
}

.line-key {
    max-width: calc(50% - 8px);
}

.line-value {
    width: 100%;
    max-width: calc(50% - 8px);
    overflow-x: hidden;
}

.line-value.has-events.config-editable:not(.config-alert) {
    border-bottom: 1px dotted var(--inactive-color);
}

.line-value:not(.config-editable),
.disabled {
    color: var(--inactive-color);
}

.config-alert {
    border-bottom: 1px solid var(--alert-color);
}

.config-password:not(:hover) {
    filter: blur(3px);
}

.line-value.has-events.config-editable:not(.config-alert):hover {
    cursor: pointer;
    border-bottom: 1px solid var(--active-color);
}